
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgba(33, 72, 192, 1);

}

.logo {
    width: 50%;
    
   margin: 25%;
   
   margin-bottom: 35px;
   
 
}

.forgot-password{
    padding-top:  20px;
   
    padding-left: 160px;

}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.alert {
    color: red;
    display: none;
}

button {
    
    
    width: 107%;
    padding: 10px;
    background-color: white;
    border: none;
    color: rgba(33, 72, 192, 1);
    border-radius: 4px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20px;
text-align: center;

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup p {
    margin: 0 0 10px;
}

#close-popup {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .login-container {
        padding: 15px;
    }
}
